:root {
    --clr-orange: hsl(27, 97%, 60%);
    --clr-blue: 212 91% 34%;
    --clr-darker-blue: 212 91% 17%;
    --clr-light-blue: 212, 87%, 96%;
    --dd: rgb(8, 81, 166);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}
/* Utility classes */
.flex{display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.center{justify-content: center;}
.space-between{justify-content: space-between;}
.align-center{align-items: center;}
.wrap {flex-wrap: wrap;}
.fit-height{max-height: fit-content;}
.relative{position: relative;}
.absolute{position: absolute;}

a {
    text-decoration: none;
}

p,
li{
    color: hsl(var(--clr-darker-blue));
    font-weight: 600;
}

body{
    height: 100vh;
    background-color: white;
}

html {
    font-family: 'Work Sans', sans-serif;
}

nav {
    height: 4rem;
    background: white;
    padding: 1rem;
}

nav img {
    padding: .2rem;
}

nav ul{
    gap: 1rem;
}

nav a{
    color: hsl(var(--clr-blue));
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

header {
  height: 50vh;
  margin-bottom: 6rem;
}
header img{
    background-image: linear-gradient(0deg, rgba(255,255,255,0.8) 10%, hsl(239, 100%, 50%, 0.4) 100%), url(/img/car.jpg);
    height: 100%;
    max-width: 100%;
    background-size: cover; 
    background-position: center left;    
}
.container {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

h1 {
    --clr-blue: 212 91% 17%;
    color: hsl(var(--clr-blue));
    font-weight: 700;
    font-size: clamp(2rem, 5vw + 1rem, 5rem);
    line-height: 1.5;
}

button{
    background-color: var(--clr-orange);
    font-weight: 600;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: auto;
    color: white;
}

.mainBox{
    background-color: hsl(var(--clr-light-blue));
    max-width: 40rem;
    margin: 3rem auto;
    padding: 2.5rem clamp(1rem, 5%, 3rem);
    width: 100%;
    flex-grow: 1;
}
.mainBox h2 {
    top: -25px;
    left: -10px;
    font-size: clamp(2rem, 3vw + 1rem, 3rem);
    color: var(--clr-orange);
    font-weight: 700;
    letter-spacing: 2px;
}

.mainBox ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.mainBox ul li {
    background: #fff;
    padding: .75rem;
    position: relative;
    /* width: fit-content; */
    flex: 0 1 fit-content;
}
.mainBox ul li::before {
    content: "";
    width: 5px;
    height: 100%;
    background-color: hsl(var(--clr-blue));
    left: 0;
    top: 0;
    position: absolute;
}

.triangle {
    right: 0;
    transform: translateX(50%);
    /* opacity: .5; */
    display: none;
}

.mainContainer{
    background-color:hsl(212, 87%, 96%);
    width: 100%;
    padding: 3.5rem clamp(1rem, 5%, 3rem);
    margin-top: 2vh;
}

.contContainer > h3{
    margin-bottom: 5vh;
    color: var(--clr-orange);
    line-height: 1;
}

.contContainer > h2{
    --clr-blue: 212 91% 25%;
    color:hsl(var(--clr-blue));
    margin-bottom: 0.5rem;
    font-size: clamp(2rem, 5vw + 1rem, 3rem);
    line-height: .5;
    text-transform: uppercase;
}

.innerMainContainer ul,
.innerMainContainer h2,
.innerMainContainer p{
    font-size: small;
    /* color: hsl(var(--clr-darker-blue)); */
    color: white;
    font-weight: 600;
} 

.innerMainContainer h2{
    margin-bottom: 1rem;
    font-size: medium;
}

.innerMainContainer li{
    line-height: 1.3;
    color: white;
}

.innerMainContainer {
    gap: 2rem;
    background-color: var(--clr-orange);
    padding: 1rem;
}

.contContainer {
    max-width: 60rem;
    margin-inline: auto;
}

details > summary {
    background-color: var(--clr-orange);
    font-weight: 600;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: auto;
    color: white;
    width: fit-content;
    cursor: pointer;
}

details > open{
    background-color: var(--clr-orange);
}

footer {
    background-color: white;
    width: 100vw;
    height: 5rem;
    position: absolute;
}

footer span img{
    height: auto;
    max-height: 20%;
}
/*make mobile site first!!!!*/
